<body  ng-controller="MainController">
<div class="container">
    <style type="text/css">
        body {
            background: #cfe7fa;
        }
    </style>
    <div class="jumbotron text-center" ng-prueba>
        <h1> About </h1>
    </div>

        <div style="padding: 20px; float: left; width: 45%;">
    <img src="../images/Carol_Rueda.jpg"  width="300" height="200" >
    <h1 style="color:purple;"> Carolina Rueda </h1>
    <a href="mailto:lina_bcn@hotmail.com?Subject=Hola">Contacta Conmigo</a>
     <p> Apasionada del manga, los juegos de rol y del Google Calendar. Actualmente ostenta el cargo de CEO principal de Viajapp.</p>
            <a href="https://www.facebook.com/carolina.rueda.39?fref=ts"> <img src="../images/facebook.png"  width="25" height="25" ></a>
    </div>

    <div style="padding: 20px; float: left; width: 45%;">
        <img src="../images/Ernest_Espinola.jpg"  width="200" height="200" >
        <h1 style="color:blue;"> Ernest Espinola </h1>
        <a href="mailto:ernest.espinola@gmail.com?Subject=Hola">Contacta Conmigo</a>
        <p> Desde pequeño siempre le llamaban friki en el colegio y ahora es el menos friki de sus amigos. Es socio principal de Viajapp.</p>
        <a href="https://www.facebook.com/ernestespinola?fref=ts"><img src="../images/facebook.png"  width="25" height="25" ></a>
    </div>
    <div style="padding: 20px; float: left;width: 45%;">
        <img src="../images/Tono_Llado.jpg"  width="300" height="200" >
        <h1 style="color:green;"> Antonio Lladó </h1>
        <a href="mailto:tonollado@hotmail.com?Subject=Hola">Contacta Conmigo</a>
        <p> Gamer de nacimiento y ligón de profesión. Sólo una persona como el puede compaginar ambas cosas. Es socio principal de Viajapp. </p>
        <a href="https://www.facebook.com/tono.lladofernandez?fref=ts"> <img src="../images/facebook.png"  width="25" height="25" ></a>
    </div>

    <div style="padding: 20px; float: left;width: 45%; ">
        <img src="../images/Carol_Cerro.jpg"  width="200" height="200" >
        <h1 style="color:deeppink;"> Carolina Cerro </h1>
        <a href="mailto:carolbcn88@gmail.com?Subject=Hola">Contacta Conmigo</a>
        <p> Su pasión por la música le llevó a trabajar de Dj para Tv3. Siempre ha sido la rubia alla donde va, pero ha demostrado que no tiene un pelo de tonta. Es socio principal de Viajapp. </p>
        <a href="https://www.facebook.com/carolina.cerrovalina.3"><img src="../images/facebook.png"  width="25" height="25" ></a>
    </div>

</div>
</body>
</html>