<body ng-controller="MainController">
<style type="text/css">
    body {
        background: #cfe7fa;
    }
</style>
<div class="container" data-ng-init="MostrarRutas()">

    <div class="jumbotron text-center" ng-prueba>
        <h1>Gestión de Rutas </h1>
    </div>

        <table class="table table-striped">
            <tr class="info">
                <td>Type</td>
                <td>Name</td>
                <td>Time</td>
                <td>Ciudad</td>
                <td>Puntos de Interest</td>

            </tr>
            <tr ng-repeat="ruta in rutas">
                <td>{{ruta.type }}</td>
                <td>{{ ruta.name }}</td>
                <td>{{ ruta.time }}</td>
                <td>{{ ruta.city }}</td>
                <td>{{ ruta.interest[0] }}</td>
                <td><a ng-click="borrarRuta(ruta.name)">Eliminar</a></td>
            </tr>
        </table>


</div>
</body>