<body background="../images/fondo.png" ng-controller="MainController">
<div class="container">
    <div class="jumbotron text-center" ng-prueba>
        <h1>Busqueda Ciudad </h1>
    </div>
    <input type="text" class="form-control input-lg text-center" placeholder="Buscar" ng-model="newRuta.city" >
    <br>
    <div class="col-sm-6">
        <table class="table table-striped" id="route-list">
            <tr class="info">
                <td>Type</td>
                <td>Name</td>
                <td>Time</td>
                <td>Actions</td>
            </tr>
            <tr ng-repeat="ruta in rutas">
                <td>{{ruta.type }}</td>
                <td>{{ ruta.name }}</td>
                <td>{{ ruta.time }}</td>
                <td><a ng-click="drawRoutes(ruta.interest)">Mostrar</a></td>
            </tr>

        </table>
        <button type="submit" class="btn btn-success btn-lg" ng-click="Mostrarporciudad(newRuta.city)">Buscar por ciudad</button>


    </div>
    <div id="map_container">
    </div>

</div>

</body>


