<body ng-controller="MainController">
<style type="text/css">
    body {
        background: #cfe7fa;
    }
</style>
<div class="container" data-ng-init="gameMap1()">

    <div class="jumbotron text-center" ng-prueba>
        <h1>Think and Click Game Level 2</h1>
    </div>
    <p>Debes encontrar los puntos cuando aciertes tendrás un círculo rojo si estás muy lejos tu círculo será azul</p>
    <div>
        <details>
            <summary><font face="Arial" color="red" size=5>Primer Punto</font></summary>
            <center>
                <details>
                    <summary><font face="Arial" color="blue" size=3>Primera pista</font></summary>
                    <p>Es muy visitada por los turistas pero ni siquiera está acabada.</p>
                </details>
            </center>
            <center>
                <details>
                    <summary><font face="Arial" color="blue" size=3>Segunda pista</font></summary>
                    <p>Un gran arquitect que murió en un accidente de tranvia</p>
                </details>
            </center>
            <center>
                <details>
                    <summary><font face="Arial" color="blue" size=3>Tercera pista</font></summary>
                    <p>Es muy fotografiada</p>
                </details>
            </center>
            <center>
                <details>
                    <summary><font face="Arial" color="blue" size=3>Ultima pista?</font></summary>
                    <a href="https://goo.gl/maps/Pe7u4zUDrkT2" target="_blank">De verdad?...</a>

                </details>
            </center>
        </details>
        <details>
            <summary><font face="Arial" color="red" size=5>Segundo Punto</font></summary>

            <center>
                <details>
                    <summary><font face="Arial" color="blue" size=3>Primera pista</font></summary>
                    <p>Es la casa más noble y famosa de Barcelona</p>
                </details>
            </center>
            <center>
                <details>
                    <summary><font face="Arial" color="blue" size=3>Segunda pista</font></summary>
                    <p>Tiene una forma ondulada </p>
                </details>
            </center>
            <center>
                <details>
                    <summary><font face="Arial" color="blue" size=3>Tercera pista</font></summary>
                    <p>Su fachada tiene mosaicos</p>
                </details>
            </center>
            <center>
                <details>
                    <summary><font face="Arial" color="blue" size=3>Ultima pista?</font></summary>
                    <a href="https://goo.gl/maps/EPQZ52aQQKy" target="_blank">De verdad?...</a>
                </details>
            </center>
        </details>

        <details>
            <summary><font face="Arial" color="red" size=5>Tercer Punto</font></summary>

            <center>
                <details>
                    <summary><font face="Arial" color="blue" size=3>Primera pista</font></summary>
                    <p>Es un parque de un aquitecto que hizo muchas construciones en Barcelona</p>
                </details>
            </center>
            <center>
                <details>
                    <summary><font face="Arial" color="blue" size=3>Segunda pista</font></summary>
                    <p>Hay unas vistas espectaculares de toda la ciudad</p>
                </details>
            </center>
            <center>
                <details>
                    <summary><font face="Arial" color="blue" size=3>Tercera pista</font></summary>
                    <p>Hay una escalera donde hay un animal con mucha mandra</p>
                </details>
            </center>
            <center>
                <details>
                    <summary><font face="Arial" color="blue" size=3>Ultima pista?</font></summary>

                    <a href="https://goo.gl/maps/anKX4iqoZ3k" target="_blank">De verdad?...</a>
                </details>
            </center>
        </details>
    </div>

    <div id="map_container">
    </div>
</div>
</body>