<body ng-controller="MainController">
<style type="text/css">
    body {
        background: #cfe7fa;
    }
</style>
<div class="container" data-ng-init="gameMap()">

    <div class="jumbotron text-center" ng-prueba>
        <h1>Think and Click Game Level 1</h1>
    </div>
    <div>
        <p>Debes encontrar los puntos cuando aciertes tendrás un círculo rojo si estás muy lejos tu círculo será azul</p>
        <details>
            <summary><font face="Arial" color="red" size=5>Primer Punto</font></summary>
            <center>
            <details>
            <summary><font face="Arial" color="blue" size=3>Primer pista</font></summary>
           <p>Se reunen muchas palomas</p>
            </details>
            </center>
            <center>
            <details>
            <summary><font face="Arial" color="blue" size=3>Segunda pista</font></summary>
            <p>En navidad ponen un gran arbol </p>
            </details>
            </center>
            <center>
            <details>
            <summary><font face="Arial" color="blue" size=3>Tercera pista</font></summary>
            <p>Es una Plaza muy catalana</p>
            </details>
            </center>
            <center>
                <details>
                    <summary><font face="Arial" color="blue" size=3>Ultima pista?</font></summary>
                    <a href="https://goo.gl/maps/vRvBzvQR39z" target="_blank">De verdad?...</a>

                </details>
            </center>
            </details>
            <details>
            <summary><font face="Arial" color="red" size=5>Segundo Punto</font></summary>

                <center>
                    <details>
                        <summary><font face="Arial" color="blue" size=3>Primera pista</font></summary>
                        <p>Es el pulmón de la ciudad.</p>
                    </details>
                </center>
                <center>
                    <details>
                        <summary><font face="Arial" color="blue" size=3>Segunda pista</font></summary>
                        <p>Es el central Park de Barcelona</p>
                    </details>
                </center>
                <center>
                    <details>
                        <summary><font face="Arial" color="blue" size=3>Tercera pista</font></summary>
                        <p>Cerca puedes ver a los animales</p>
                    </details>
                </center>
                <center>
                    <details>
                        <summary><font face="Arial" color="blue" size=3>Ultima pista?</font></summary>
                        <a href="https://goo.gl/maps/yhK8RRAa7rL2" target="_blank">De verdad?...</a>
                    </details>
                </center>
                </details>

            <details>
                <summary><font face="Arial" color="red" size=5>Tercer Punto</font></summary>

                <center>
                    <details>
                        <summary><font face="Arial" color="blue" size=3>Primera pista</font></summary>
                        <p>Verás muchos peces nadar.</p>
                    </details>
                </center>
                <center>
                    <details>
                        <summary><font face="Arial" color="blue" size=3>Segunda pista</font></summary>
                        <p>No es gratuito</p>
                    </details>
                </center>
                <center>
                    <details>
                        <summary><font face="Arial" color="blue" size=3>Tercera pista</font></summary>
                        <p>No puedes tocarlos</p>
                    </details>
                </center>
                <center>
                    <details>
                        <summary><font face="Arial" color="blue" size=3>Ultima pista?</font></summary>

                        <a href="https://goo.gl/maps/dJ84qv81jMk" target="_blank">De verdad?...</a>
                    </details>
                </center>
        </details>
    </div>

    <div id="map_container">
    </div>
</div>
</body>