<body ng-controller="MainController">
<style type="text/css">
    body {
        background: #cfe7fa;
    }
</style>
<div class="container" data-ng-init="gameMap()">

    <div class="jumbotron text-center" ng-prueba>
        <h1>Think and Click Game Level 1</h1>
    </div>
    <div>
        <details>
            <summary>Primer Punto</summary>
            <center>
            <details>
            <summary>Primer pista</summary>
           <p>Se reunen muchas palomas</p>
            </details>
            </center>
            <center>
            <details>
            <summary>Segunda pista</summary>
            <p>En navidad ponen un gran arbol </p>
            </details>
            </center>
            <center>
            <details>
            <summary>Tercera pista</summary>
            <p>Es una Plaza muy catalana</p>
            </details>
            </center>
            <center>
                <details>
                    <summary>Ultima pista?</summary>
                    <a href="https://goo.gl/maps/vRvBzvQR39z" target="_blank">De verdad?...</a>

                </details>
            </center>
            </details>
            <details>
            <summary>Segundo Punto</summary>

                <center>
                    <details>
                        <summary>Primer pista</summary>
                        <p>Es el pulmón de la ciudad.</p>
                    </details>
                </center>
                <center>
                    <details>
                        <summary>Segunda pista</summary>
                        <p>Es el central Park de Barcelona</p>
                    </details>
                </center>
                <center>
                    <details>
                        <summary>Tercera pista</summary>
                        <p>Cerca puedes ver a los animales</p>
                    </details>
                </center>
                <center>
                    <details>
                        <summary>Ultima pista?</summary>
                        <a href="https://goo.gl/maps/yhK8RRAa7rL2" target="_blank">De verdad?...</a>
                    </details>
                </center>
                </details>

            <details>
                <summary>Tercer Punto</summary>

                <center>
                    <details>
                        <summary>Primer pista</summary>
                        <p>Verás muchos peces nadar.</p>
                    </details>
                </center>
                <center>
                    <details>
                        <summary>Segunda pista</summary>
                        <p>No es gratuito</p>
                    </details>
                </center>
                <center>
                    <details>
                        <summary>Tercera pista</summary>
                        <p>No puedes tocarlos</p>
                    </details>
                </center>
                <center>
                    <details>
                        <summary>Ultima pista?</summary>

                        <a href="https://goo.gl/maps/dJ84qv81jMk" target="_blank">De verdad?...</a>
                    </details>
                </center>
        </details>
    </div>

    <div id="map_container">
    </div>
</div>
</body>