<body ng-controller="MainController">
<style type="text/css">
    body {
        background: #cfe7fa;
    }
</style>
<div class="container" data-ng-init="gameMap1()">

    <div class="jumbotron text-center" ng-prueba>
        <h1>Think and Click Game Level 2</h1>
    </div>
    <div>
        <details>
            <summary>Primer Punto</summary>
            <center>
                <details>
                    <summary>Primer pista</summary>
                    <p>Es muy visitada por los turistas pero ni siquiera está acabada.</p>
                </details>
            </center>
            <center>
                <details>
                    <summary>Segunda pista</summary>
                    <p>Un gran arquitect que murió en un accidente de tranvia</p>
                </details>
            </center>
            <center>
                <details>
                    <summary>Tercera pista</summary>
                    <p>Es muy fotografiada</p>
                </details>
            </center>
            <center>
                <details>
                    <summary>Ultima pista?</summary>
                    <a href="https://goo.gl/maps/Pe7u4zUDrkT2" target="_blank">De verdad?...</a>

                </details>
            </center>
        </details>
        <details>
            <summary>Segundo Punto</summary>

            <center>
                <details>
                    <summary>Primer pista</summary>
                    <p>Es la casa más noble y famosa de Barcelona</p>
                </details>
            </center>
            <center>
                <details>
                    <summary>Segunda pista</summary>
                    <p>Tiene una forma ondulada </p>
                </details>
            </center>
            <center>
                <details>
                    <summary>Tercera pista</summary>
                    <p>Su fachada tiene mosaicos</p>
                </details>
            </center>
            <center>
                <details>
                    <summary>Ultima pista?</summary>
                    <a href="https://goo.gl/maps/EPQZ52aQQKy" target="_blank">De verdad?...</a>
                </details>
            </center>
        </details>

        <details>
            <summary>Tercer Punto</summary>

            <center>
                <details>
                    <summary>Primer pista</summary>
                    <p>Es un parque de un aquitecto que hizo muchas construciones en Barcelona</p>
                </details>
            </center>
            <center>
                <details>
                    <summary>Segunda pista</summary>
                    <p>Hay unas vistas espectaculares de toda la ciudad</p>
                </details>
            </center>
            <center>
                <details>
                    <summary>Tercera pista</summary>
                    <p>Hay una escalera donde hay un animal con mucha mandra</p>
                </details>
            </center>
            <center>
                <details>
                    <summary>Ultima pista?</summary>

                    <a href="https://goo.gl/maps/anKX4iqoZ3k" target="_blank">De verdad?...</a>
                </details>
            </center>
        </details>
    </div>

    <div id="map_container">
    </div>
</div>
</body>