<!doctype html>

<html ng-app="MainApp">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Viajapp</title>
    <!-- Cargamos bootstrap -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/custom.css">

    <!-- Cargamos angular -->
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/angular-route/angular-route.js"></script>
    <script src="../bower_components/angular-animate/angular-animate.js"></script>
    <!-- Cargamos el javascript de angular -->
    <script src="../core.js"></script>



    <script type="text/ng-template" id="ng-confirm-template">
        <div class="modal-body">
            <p>{{message}}</p>
        </div>
        <div class="modal-footer">
            <button class="btn btn-link pull-left" ng-click="no()">No</button>
            <button class="btn btn-primary pull-right" ng-click="yes()">Yes</button>
        </div>
    </script>

</head>
<!-- background="../images/fondo.png"-->
<body  ng-controller="MainController">

<style type="text/css">
    body {
        background: #cfe7fa;
    }
</style>

<div class="container" ng-controller="authController">

    <div class="jumbotron text-center" ng-prueba ng-controller="userInfo">
        <h1>Bienvenid@ {{ getUserInfo() }}</h1>
        <img src="../images/Viajapp_logo.png" width="100" height="100">

    </div>

    <center> <iframe width="420" height="315" src="https://www.youtube.com/embed/qPFggll1U-4" frameborder="0" allowfullscreen></iframe> </center>
    <center>

        <div style="padding: 30px; float: left; width: 45%;">
            <article>
                <img src="../images/nuevaRuta.png" width="300" height="200">
                <details>
                    <style>
                        a   {color:green;}
                    </style>
                    <summary><font face="Arial" color="orange" size=5><b>¿Quieres Crear una Ruta? </b></font></summary>
                    <p>¿Has hecho una ruta en algun viaje y quieres compartirla con más gente para que disfrute de las vistas?</p>

                    <a ng-if='isLoggedIn()' href="#/nuevaruta" >Crear Rutas</a>

                </details>
            </article>
        </div> </center>



    <center><div style="padding: 30px; float: left; width: 45%;">
        <article>
            <img src="../images/buscar.png" width="200" height="200">
            <details>

                <summary><font face="Arial" color="orange" size=5><b>¿Buscas Rutas?</b></font></summary>
                <p> ¿Tienes pensado hacer un viaje y no sabes que visitar? Aquí puedes buscar las mejores rutas para ese viaje  </p>
                <a ng-if='isLoggedIn()' href="#/ciudad">Busqueda Ciudad</a>
                <p><a ng-if='isLoggedIn()' href="#/mapa">Busqueda Mapa</a></p>
            </details>
        </article>
    </div> </center>

    <center><div style="padding: 30px; float: left; width: 45%;">
        <article>
            <img src="../images/ranking.jpg" width="300" height="200">
            <details>

                <summary><font face="Arial" color="orange" size=5><b>¿Quieres ver el Ranking ?</b></font></summary>
                <p> Aquí podrás ver quién es el usuario que más rutas a creado. ¡Animo cuantas más rutas compartas más puntos tendrás!  </p>
                <a ng-if='isLoggedIn()' href="#/top10" >Top 10 </a>

            </details>
        </article>
    </div> </center>
    <center><div style="padding: 30px; float: left; width: 45%;">
        <article>
            <img src="../images/game.png" width="200" height="200">
            <details>

                <summary><font face="Arial" color="orange" size=5><b>¿Te apetece Jugar?</b></font></summary>
                <p> ¡Tenemos un juego con dos niveles que te va a encantar!</p>
                <a ng-if='isLoggedIn()' href="#/game" >Game Level 1</a>
               <p> <a ng-if='isLoggedIn()' href="#/game1" >Game Level 2</a></p>

            </details>
        </article>
    </div> </center>

    <div class="col-sm-6 col-sm-offset-3">

        <div ng-show="error" class="alert alert-danger">{{errorMessage}}</div>
        <form class="form">

            <!--<button class="btn btn-primary pull-right" ng-click="getUserStatus() ">INFO status</button>
            <button class="btn btn-primary pull-right" ng-click="showDetail(getUserInfo()) ">INFO USER</button>-->




    </div>
</div>
</div>
</body>
</html>