<!doctype html>

<html ng-app="MainApp">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Viajapp</title>
    <!-- Cargamos bootstrap -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="../custom.css">

    <!-- Cargamos angular -->
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/angular-route/angular-route.js"></script>
    <script src="../bower_components/angular-animate/angular-animate.js"></script>
    <!-- Cargamos el javascript de angular -->

    <script src="https://apis.google.com/js/platform.js" async defer>
        {lang: 'ca'}
    </script>


    <script type="text/ng-template" id="ng-confirm-template">
        <div class="modal-body">
            <p>{{message}}</p>
        </div>
        <div class="modal-footer">
            <button class="btn btn-link pull-left" ng-click="no()">No</button>
            <button class="btn btn-primary pull-right" ng-click="yes()">Yes</button>
        </div>
    </script>


</head>
<body background="../images/fondo.png" ng-controller="loginController">
<div class="container">

    <div class="jumbotron text-center" ng-prueba>
        <h1>Login</h1>
    </div>
    <div class="container">

        <div class="col-sm-6 col-sm-offset-3">

            <div ng-show="error" class="alert alert-danger">{{errorMessage}}</div>
            <form class="form" ng-submit="login()">
                <div class="form-group">
                    <label>Nick</label>
                    <input type="text" class="form-control" name="username" ng-model="loginForm.username" required>
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control" name="password" ng-model="loginForm.password" required>
                </div>
                <div>
                    <button type="submit" class="btn btn-default" ng-disabled="disabled">Login</button>
                </div>

                <p>Need an account? <a href="#/register">Signup</a></p>
                <p>Or go <a href="/">home</a>.</p>
                <a href="/user/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>

                <div class="fb-login-button" ng-click="loginFacebook()" data-max-rows="1" data-size="xlarge" data-show-faces="false" data-auto-logout-link="false"></div>
                <!-- Place this tag in your head or just before your close body tag. -->


                <!-- Place this tag where you want the +1 button to render. -->
                <div class="g-plusone" data-size="tall" data-annotation="inline" data-width="450"></div>

        </div>
    </div>

</div>
</body>
</html>
