<body  ng-controller="loginController">
<style type="text/css">
    body {
        background: #cfe7fa;
    }
</style>
<div class="container">

    <div class="jumbotron text-center" ng-prueba>
        <h1>Login</h1>
    </div>
    <div class="container">

        <div class="col-sm-6 col-sm-offset-3">

            <div ng-show="error" class="alert alert-danger">{{errorMessage}}</div>
            <form class="form" ng-submit="login()">
                <div class="form-group">
                    <label>Nick</label>
                    <input type="text" class="form-control" name="username" ng-model="loginForm.username" required>
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control" name="password" ng-model="loginForm.password" required>
                </div>
                <div>
                    <button type="submit" class="btn btn-success" ng-disabled="disabled">Login</button>
                </div>

                <p>Need an account? <a href="#/register">Signup</a></p>
                <p>Or go <a href="#/home">home</a>.</p>
                <a href="/user/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>

                <!--<div class="fb-login-button" ng-click="loginFacebook()" data-max-rows="1" data-size="xlarge" data-show-faces="false" data-auto-logout-link="false"></div>
                <!-- Place this tag in your head or just before your close body tag. -->


                <!-- Place this tag where you want the +1 button to render. -->
                <div class="g-plusone" data-size="tall" data-annotation="inline" data-width="450"></div>

        </div>
    </div>

</div>
</body>
</html>
