<h1>BUSQUEDA MAPA </h1>
<style type="text/css">
    body {
        background: #cfe7fa;
    }
</style>
<div id="map_container" data-ng-init="lineas()">
</div>
<div class="controls">
    <h3>Localización Actual</h3>
    <p>
        <button ng-click="addCurrentLocation()">Localizarme</button>
    </p>
    <h3>Busqueda Direccion</h3>
    <p>
        <input type="text" placeholder="Direccion, coordenadas" ng-model="address" style="width: 210px"/>
        <button ng-click="addAddress()">Buscar</button>
    </p>
    <div ng-repeat="ruta in rutas>
    <td><button type="submit" class="btn btn-info"  ng-click="drawRoutes(ruta.interest)">Mostrar todas las rutas</button></td>
    </div>
</div>