<!doctype html>

<html ng-app="MainApp">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Viajapp</title>
    <!-- Cargamos bootstrap -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/custom.css">

    <!-- Cargamos angular -->
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/angular-route/angular-route.js"></script>
    <script src="../bower_components/angular-animate/angular-animate.js"></script>
    <!-- Cargamos el javascript de angular -->
    <script src="../core.js"></script>

    <script type="text/ng-template" id="ng-confirm-template">
        <div class="modal-body">
            <p>{{message}}</p>
        </div>
        <div class="modal-footer">
            <button class="btn btn-link pull-left" ng-click="no()">No</button>
            <button class="btn btn-primary pull-right" ng-click="yes()">Yes</button>
        </div>
    </script>

</div>
</nav>


</head>
<body background="../images/fondo.png" ng-controller="MainController">
<div class="container">

    <div class="jumbotron text-center" ng-prueba>
        <h1>Nuevas Rutas </h1>
    </div>


    <div class="col-sm-4 col-sm-offset-1 text-center">
        <form name="myForm">
            <div class="form-group">

                <input type="text" class="form-control input-lg text-center" placeholder="Name" ng-model="newRuta.name" required>
                <br>
                <select type="text" class="form-control input-lg text-center" placeholder="Type" ng-options="rutetype.type for rutetype in typerutas" ng-model="newRuta.type" >
                    <option value="">--Elige opcion--</option>
                </select>
                <br>
                <input type="text" class="form-control input-lg text-center" placeholder="City" ng-model="newRuta.city" >
                <br>
                <input type="text" class="form-control input-lg text-center" placeholder="Time" ng-model="newRuta.time" >
                <br>
                <input type="text" class="form-control input-lg text-center" placeholder="Interests" ng-model="newRuta.interest" >
            </div>

            <!-- Acciones que podemos realizar en el formulario -->
            <button type="submit" class="btn btn-success btn-lg" ng-click="registrarRuta()" ng-disabled="myForm.$invalid || !newRuta.name || !newRuta.type|| !newRuta.city|| !newRuta.time || !newRuta.interest || selected">Registrar</button>
         <!--   <button type="submit" class="btn btn-warning btn-lg" ng-click="InsertarRuta()" ng-disabled="!newRuta.name || !newRuta.type|| !newRuta.city|| !newRuta.time  || !newRuta.interest  || selected">Modificar</button>-->
           <button type="submit" class="btn btn-danger btn-lg" ng-click="borrarRuta(newRuta.name)" ng-disabled="!newRuta.name ||selected">Borrar</button>
        </form>

    </div>

</div>
</body>>