
<body  ng-controller="MainController">
<style type="text/css">
    body {
        background: #cfe7fa;
    }
</style>
<div class="container">
    <div class="box box-primary" ng-controller="userInfo" data-ng-init="showDetail(getUserInfo())">
        <div class="box-body"  ng-repeat="persona in persona" >
            <div class=""  >
                <H1> <p align="center"><strong><i class="fa fa-file-text-o margin-r-5"  color="red"></i>  SOBRE MI  </strong><img align="right" src= {{persona.pic}}  width="75" height="75"  /></p></H1>


            </div><br>

                <hr>

            <br><br>

            <div >




                <form action="demo_form.asp">
                    <b><p align="left">Genero:   <select name="gender">
                        <option value="1">Hombre</option>
                        <option value="2">Mujer</option>
                        <option value="3">Otro</option>
                          </select></p><br></b>
                    <b><p align="left">Correo: <input type="text" size="30" name="email" value={{persona.email}}> <br><br> </p></b>
                    <b><p align="left">Ciudad:    <input type="text" name="city" value={{persona.city}}><br><br></p></b>
                    <b><p align="left">Dirección:     <input type="text" name="address" value={{persona.address}}><br><br></p></b>
                    <b><p align="left">Puntos: {{persona.numrutas}}</p><br></b>
                    <b><p align="left">Sobre mi:</p></b>
                    <textarea  name="about" rows="10" cols="80" value={{persona.about}}></textarea> <br><br><br>

                    <button type="submit" class="btn btn-success btn-lg" ng-click="Mostrarporciudad(newRuta.city)">Guardar</button>

                </form>




            </div>


        </div>
    </div>
</div>
</body>
</html>