<body>
<style type="text/css">
    body {
        background: #cfe7fa;
    }
</style>
<div class="container">

    <div class="jumbotron text-center" ng-prueba>
        <h1>Sign up </h1>
    </div>

    <div class="row">

        <form class="form" ng-submit="register()">
            <div class="form-group">
                <label>Nick</label>
                <input type="text" class="form-control" name="name" ng-model="registerForm.username">
            </div>
            <div class="form-group">
                <label>Email</label>
                <input type="email" class="form-control" name="email" ng-model="registerForm.email">
            </div>
            <div class="form-group">
                <label>City</label>
                <input type="text" class="form-control" name="city" ng-model="registerForm.city" required>
            </div>
            <div class="form-group">
                <label>Foto</label>
                <input type="text" class="form-control" name="Link Fotografia" ng-model="registerForm.pic">
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" placeholder="Pass"  name = "pass1" id = "pass1"
                       ng-model="registerForm.password" required>
            </div>
            <div class="form-group">
                <label>Repeat password</label>
                <input type="password" class="form-control" name = "pass2" id = "pass2"
                       ng-model="registerForm.password2" ng-keyup="verificar(registerForm.password2);"required>
                <br>
                <label id="mensaje"></label>
            </div>
            <div>
                <button type="submit" class="btn btn-success" ng-disabled="disabled">Register</button>
                </div>
        </form>
    </div>


    </form>
</div>
</div>
</div>
</body>

