<body ng-controller="MainController">
<style type="text/css">
    body {
        background: #cfe7fa;
    }
</style>
<div class="container">

    <div class="jumbotron text-center" ng-prueba>
        <h1>Buscar Por Tipo </h1>
    </div>
    <select type="text" class="form-control input-lg text-center" placeholder="Type"
            ng-model="newRuta.type">
        <option value="">--Elige opcion--</option>
        <option ng-repeat="rutetype in typerutas" value="{{rutetype.type}}">{{rutetype.type}}</option>
    </select>
    <br>
    <div class="col-sm-6">
        <table class="table table-striped" id="route-list">
            <tr class="info">
                <td>Type</td>
                <td>Name</td>
                <td>Time</td>
                <td>Actions</td>
            </tr>
            <tr ng-repeat="ruta in rutas">
                <td>{{ruta.type }}</td>
                <td>{{ ruta.name }}</td>
                <td>{{ ruta.time }}</td>
                <td><a ng-click="drawRoutes(ruta.interest)">Mostrar</a></td>
            </tr>

        </table>
        <button type="submit" class="btn btn-success btn-lg" ng-click="Mostrarportipo(newRuta.type)">Buscar por ciudad</button>


    </div>
    <div id="map_container">
    </div>

</div>
</body>
</html>