<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>    	
  </head>
  <body ng-app="starter" ng-controller = 'MainController'>
  <ion-pane>
    <ion-nav-bar class="bar-positive nav-title-slide-ios7" align-title="center">
      <ion-nav-back-button class="button-icon ion-arrow-left-c">
      </ion-nav-back-button>
        <ion-nav-buttons side="left">
		  <a ng-show="log" class="button" ng-click="openPopover($event)">
            Rutas
          </a>
		  <a ng-show="log" class="button" ui-sref="perfil">
            Perfil
          </a>
		  <a ng-show="log" class="button" ui-sref="top10">
            Top10
          </a>
		  <a ng-show="log" class="button" ui-sref="map">
            Mapa
          </a>
		  <a ng-show="log" class="button" ng-click="openPopover1($event)">
            Juego
          </a>
        </ion-nav-buttons>        
        <ion-nav-buttons side="right">
		  <a class="button" ui-sref="home">
            Home
          </a>
		  <a class="button" ui-sref="about">
            About
          </a>
		  <a class="button" ui-sref="login">
            Login
          </a>
		  <a class="button" ui-sref="register">
            Register
          </a>
		  <a class="button" ui-sref="contact">
            Contact
          </a>
        </ion-nav-buttons>        
      
    </ion-nav-bar>

    <ion-nav-view class="slide-left-right"></ion-nav-view>
	
	<ion-view title="Viajapp" hide-back-button="true">
	
	<ion-content>
	
	
    <div class="jumbotron text-center" ng-prueba>
        <h1>Sign up</h1>
    </div>
	
	
	<div class="container">
	<div>
              <table class="table table-striped">
                   <tr class="info">
                     <td>Name</td>
                     <td>Email</td>
                     <td>City</td>
                 </tr>
                 <tr ng-repeat="persona in personas">
                     <td>{{ persona.name }}</td>
                     <td>{{ persona.email }}</td>
                     <td>{{ persona.city }}</td>
                 </tr>
             </table>
         </div>
        <div>
            <form name="myForm" >
                <div class="form-group">

                    <input type="text" class="form-control input-lg text-center" placeholder="Name" ng-model="newPersona.username" >
                    <br>
                    <input type="email" class="form-control input-lg text-center" id="inputEmail" placeholder="Email" ng-model="newPersona.email" >
                    <br>
                    <input type="password" class="form-control input-lg text-center" value="" placeholder="Password"  name = "password1" id = "password1" ng-keyup="verificar(newPersona.password, newPersona.password2);" ng-model="newPersona.password" >
                    <br>
                    <input type="password" class="form-control input-lg text-center" value="" placeholder="Repeat Password" name = "password2" id = "password2" ng-keyup="verificar(newPersona.password, newPersona.password2);" ng-model="newPersona.password2">
                    <span> {{passerror}}<!-- mensaje de verificación--> </span><br />
                    <br>
                    <input type="text" class="form-control input-lg text-center" placeholder="City" ng-model="newPersona.city" >
                </div>
				<p ng-show="log">Hello</p>
                <!-- Acciones que podemos realizar en el formulario -->
                <button type="submit" class="btn btn-success btn-lg" ng-click="Register()" ng-disabled="!newPersona.password|| !newPersona.city || !newPersona.username || selected">Registrar</button>
                <button type="submit" class="btn btn-warning btn-lg" ng-click="modificarPersona(newPersona)" ng-disabled=" !newPersona.pass|| !newPersona.email|| !newPersona.city || !newPersona.name || selected">Modificar</button>
                <button type="submit" class="btn btn-danger btn-lg" ng-click="borrarPersona(newPersona.name)" ng-disabled="!newPersona.name ||selected">Borrar</button>
				<button type="submit" class="btn btn-success btn-lg" ng-click="Log()">Log</button>
				<button type="submit" class="btn btn-danger btn-lg" ng-click="isLoggedIn()">Comprobar</button>
            </form>
        </div>
    </div>
    
    </ion-content>
	</ion-view>
    </ion-pane>
	
	<link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">   
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
	
    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script> 
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
	
	<!-- Google Maps -->
	<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBLRQuMbzorcGujWn_76SLxzF3IkwoTM38"></script> 
	
    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
	
  </body>
</html>
