<!doctype html>

<html ng-app="starter">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>Viajapp</title>
    <!-- Cargamos bootstrap -->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style.css">
	<link href="../lib/ionic/css/ionic.css" rel="stylesheet">

    <!-- ionic/angularjs js -->
    <script src="../lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="../cordova.js"></script>

    <!-- your app's js -->
    <script src="../js/app.js"></script>

    <script type="text/ng-template" id="ng-confirm-template">
        <div class="modal-body">
            <p>{{message}}</p>
        </div>
        <div class="modal-footer">
            <button class="btn btn-link pull-left" ng-click="no()">No</button>
            <button class="btn btn-primary pull-right" ng-click="yes()">Yes</button>
        </div>
    </script>


</head>
<!--data-ng-init="gameMap()"-->
<ion-pane>

<ion-view  hide-back-button="true">

	<ion-content>
	

<div class="container" data-ng-init="gameMap()">

    <div class="jumbotron text-center" ng-prueba>
        <h1>Think and Click Game Level 1</h1>
    </div>
    <div>
        <details>
            <summary>Primer Punto</summary>
            <center>
            <details>
            <summary>Primer pista</summary>
           <p>Se reunen muchas palomas</p>
            </details>
            </center>
            <center>
            <details>
            <summary>Segunda pista</summary>
            <p>En navidad ponen un gran arbol </p>
            </details>
            </center>
            <center>
            <details>
            <summary>Tercera pista</summary>
            <p>Es una Plaza muy catalana</p>
            </details>
            </center>
            <center>
                <details>
                    <summary>Ultima pista?</summary>
                    <a href="https://goo.gl/maps/vRvBzvQR39z" target="_blank">De verdad?...</a>

                </details>
            </center>
            </details>
            <details>
            <summary>Segundo Punto</summary>

                <center>
                    <details>
                        <summary>Primer pista</summary>
                        <p>Es el pulmón de la ciudad.</p>
                    </details>
                </center>
                <center>
                    <details>
                        <summary>Segunda pista</summary>
                        <p>Es el central Park de Barcelona</p>
                    </details>
                </center>
                <center>
                    <details>
                        <summary>Tercera pista</summary>
                        <p>Cerca puedes ver a los animales</p>
                    </details>
                </center>
                <center>
                    <details>
                        <summary>Ultima pista?</summary>
                        <a href="https://goo.gl/maps/yhK8RRAa7rL2" target="_blank">De verdad?...</a>
                    </details>
                </center>
                </details>

            <details>
                <summary>Tercer Punto</summary>

                <center>
                    <details>
                        <summary>Primer pista</summary>
                        <p>Verás muchos peces nadar.</p>
                    </details>
                </center>
                <center>
                    <details>
                        <summary>Segunda pista</summary>
                        <p>No es gratuito</p>
                    </details>
                </center>
                <center>
                    <details>
                        <summary>Tercera pista</summary>
                        <p>No puedes tocarlos</p>
                    </details>
                </center>
                <center>
                    <details>
                        <summary>Ultima pista?</summary>

                        <a href="https://goo.gl/maps/dJ84qv81jMk" target="_blank">De verdad?...</a>
                    </details>
                </center>
        </details>
    </div>
	<div id="map_container">
    </div>
</div>
</ion-content>
</ion-view>
</body>
</ion-pane>>